@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CargoDeliveryFront.Pages.IndexModel
<h2>Принятые заказы</h2>
<p><a href="/Create">Создать заказ</a></p>
<table>
    <tr>
        <th>Номер заказа</th>
        <th>Город отправителя</th>
        <th>Адрес отправителя</th>
        <th>Город получателя</th>
        <th>Адрес получателя</th>
        <th>Вес</th>
        <th>Дата забора груза</th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.OrderNumber</td>
            <td>@order.SenderCity</td>
            <td>@order.SenderAddress</td>
            <td>@order.RecipientCity</td>
            <td>@order.RecipientAddress</td>
            <td>@order.Weight</td>
            <td>@order.PickUpDate</td>
            <td>
                <form method="get">
                    <a asp-page="Read" asp-route-id="@order.Id">Просмотр заказа</a>
                </form>
            </td>
            <td>
                <form method="post">
                    <a asp-page="Edit" asp-route-id="@order.Id">Редактировать</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@order.Id">
                        Удалить
                    </button>
                </form>
            </td>
            
            </tr>
    }
</table>
